
$seeall: (
    bordes-mediaq: 3px solid #696969,
    bordes-nomediaq: 5px solid #696969,
    color-cardhover: #dacece,
);

$navbar: (
    background-color-closeables: #f3eae8,
    bordes: 1px solid #353e46
);
