@import '../base/variables';
@import '../base/mapas';
@import '../base/mixins';
@import '../base/extends';
/* CLOSEABLE ITEM LIST */

.closeableul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

.closeableul li {
    border: 1px solid none;
    margin-top: -1px;
    background-color: map-get($navbar , background-color-closeables );
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    display: block;
    position: relative;
    text-align: center;
}

.closeableul li:hover {
    background-color: map-get($navbar , background-color-closeables );
}

.close {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
}

.close:hover {background: map-get($navbar , background-color-closeables );
}

/* FIN CLOSEABLE */

/*LISTA DEL NAV BAR*/

.navbar {
    display: flex;
    height: 100%;
}


.navbar-toggler {
    border: none;
}

.lista {
    border-top: map-get($navbar , bordes );
    border-bottom: map-get($navbar, bordes );
    font-weight: bold;
    font-size: 17px;
    font-family: 'Merriweather Sans', sans-serif;
    width: 100%;
}

.dropdown-menu {
    background-color: #000000;
}

.LIGHT:hover::before {
    content: '💡';
}

.CARPETS:hover::before {
    content: '🟧';
}

.MIRRORS:hover::before {
    content: '🪞';
}

.ON-DESKS:hover::before {
    content: '🛋️';
}

.PILLOWS:hover::before {
    content: '☁️';
}

.CLOCKS:hover::before {
    content: '🕑';
}

.EXTRA:hover::before {
    content: '📦';
}

.SEE-ALL:hover::before {
    content: '👀';
}

@media only screen and (max-width: 970px) {
    .LIGHT::before {
        content: '💡';
    }

    .CARPETS::before {
        content: '🟧';
    }

    .MIRRORS::before {
        content: '🪞';
    }

    .ON-DESKS::before {
        content: '🛋️';
    }

    .PILLOWS::before {
        content: '☁️';
    }

    .CLOCKS::before {
        content: '🕑';
    }

    .EXTRA::before {
        content: '📦';
    }

    .SEE-ALL::before {
        content: '👀';
    }

}