@import '../base/variables';
@import '../base/mapas';
@import '../base/mixins';
@import '../base/extends';
/* PLAYLIST TEXTO */
.playlist {
    @include mixin1(#2c3237, 30px, 'Merriweather Sans');
}

/* PLAYLIST GIF */ 
.spotifygif {
    display: flex;
    justify-content: center;
    margin-top: -70px;
    margin: 10px;
}
/* FIN PLAYLIST GIF */

/* BLOG DE PLAYLIST */

.preguntasfrecuentes {
    @include mixin1(#6b6b6bd3, 40px, "Archivo Black");
}

.blog{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .miniblog1 { grid-area: 1 / 2 / 3 / 3; }
    .miniblog2 { grid-area: 1 / 4 / 3 / 5; }
    .miniblog3 { grid-area: 4 / 2 / 6 / 3; }
    .miniblog4 { grid-area: 4 / 4 / 6 / 5; }

.cerosnum {
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
    color: #37f7b7;
    margin-bottom: 20px;
    font-family: "Archivo Black", sans-serif;
}

.blogtitle {
    font-family: "Archivo Black";
    color: gray;
}

.blogtexto {
    color: #2c3237;
    font-size: 18px;
    margin-top: 20px;
}

.miniblog1 {
    @extend %miniblogs;
}

.miniblog2 {
    @extend %miniblogs;
}

.miniblog3 {
    @extend %miniblogs;
}

.miniblog4 {
    @extend %miniblogs;
} 

/* MEDIA QUERIE DEL BLOG */
@media only screen and (max-width: 1400px) {
    .blog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
        .miniblog1 { grid-area: 1 / 2 / 3 / 3; }
        .miniblog2 { grid-area: 3 / 2 / 5 / 3; }
        .miniblog3 { grid-area: 5 / 2 / 7 / 3; }
        .miniblog4 { grid-area: 7 / 2 / 9 / 3; }

    .miniblog1 {
        @include mediaqblog;
    }
    .miniblog2 {
        @include mediaqblog;
    }
    .miniblog3 {
        @include mediaqblog;
    }
    .miniblog4 {
        @include mediaqblog;
    }

    .cerosnum {
        justify-content: center;
        font-size: 30px;
    }
}


/* FIN BLOG DE PLAYLIST */